
.nav-item,.navbar-brand,.icons,.login,.logo1{
    color: white;
    font-weight: 600;
    /* font-family: 'Edu NSW ACT Foundation', cursive; */
    font-family: 'Oswald', sans-serif;
    margin-top: 0px;  
    z-index: 2;
   
}

.nav-item{
    margin-left: 100px;
    font-size: 15px;
}
#home{
    margin-left: 0px;
}
.nav-item:hover{
    color: green;
}
.login{
     font-size: 25px;
    margin-right: 10px;  
}
.logo1{
    /* font-size: 25px;*/
    height: 65px; 
    text-decoration: transparent;
}
.logo1:hover{
    color: greenyellow;
}

.navbar-brand,.logo1{
    margin-left: 80px;
}

.carousel.slide{
    margin-top: -12%;
    z-index: 1;

}

.icons{
    font-size: 25px;
    margin-right: 80px;
}

.navbar-toggler{
    background-color: white;
}

.content{
    background-color: black;
}

.im{
    border-radius: 0px;

}


.dataa1{
    padding: 20px;
    text-align: center;
    font-weight: 500;
    color: green;
    font-size: 30px;
    margin: 20px 20px 20px 20px;

}


.fh1{
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 10px;
    margin-bottom: -115px;
    margin-top: 0px;
    padding-bottom: 20px;
}

.homecss{
    margin-top: 12rem;
}